In [33]:
import pandas as pd
rt_df = pd.read_csv("C:/Users/benedek/OneDrive - Central European University (CEU GmbH Hungarian Branch Office)/Liza Drini fájljai - DSP Group C/AggregatedData_AustralianSpeciesOccurrence.csv")

In [34]:
rt_df[3226173:].head()

,year,basisOfRecord,stateTerritory,ibraRegion,imcraRegion,forest2018Status,forest2013Status,capadStatus,epbcStatus,griisStatus,speciesID,speciesName,occurrenceCount
3226173,1985,PRESERVED_SPECIMEN,Northern Territory,Finke,NaN,non-forest,non-forest,not protected,Not listed,Native,https://biodiversity.org.au/afd/taxa/562f384e-...,Delma nasuta,2
3226174,1985,PRESERVED_SPECIMEN,Northern Territory,Finke,NaN,non-forest,non-forest,not protected,Not listed,Native,https://biodiversity.org.au/afd/taxa/5815e99d-...,Lophochroa leadbeateri,1
3226175,1985,PRESERVED_SPECIMEN,Northern Territory,Finke,NaN,non-forest,non-forest,not protected,Not listed,Native,https://biodiversity.org.au/afd/taxa/5d73fc2f-...,Pseudomys hermannsburgensis,5
3226176,1985,PRESERVED_SPECIMEN,Northern Territory,Finke,NaN,non-forest,non-forest,not protected,Not listed,Native,https://biodiversity.org.au/afd/taxa/5fed5ecf-...,Barnardius zonarius,1
3226177,1985,PRESERVED_SPECIMEN,Northern Territory,Finke,NaN,non-forest,non-forest,not protected,Not listed,Native,https://biodiversity.org.au/afd/taxa/60914d7f-...,Delma butleri,2

In [35]:
rt_df.dtypes

year                 int64
basisOfRecord       object
stateTerritory      object
ibraRegion          object
imcraRegion         object
forest2018Status    object
forest2013Status    object
capadStatus         object
epbcStatus          object
griisStatus         object
speciesID           object
speciesName         object
occurrenceCount      int64
dtype: object

In [36]:
cat_fix = ['']

In [37]:
numerical_fix = ['year', 'occurrenceCount']
rt_df[numerical_fix] = rt_df[numerical_fix].apply(pd.to_numeric, errors='coerce')

In [38]:
cat_df = rt_df[rt_df['speciesName'] == 'Felis catus']

In [39]:
cat_df.head()

,year,basisOfRecord,stateTerritory,ibraRegion,imcraRegion,forest2018Status,forest2013Status,capadStatus,epbcStatus,griisStatus,speciesID,speciesName,occurrenceCount
2902,1900,HUMAN_OBSERVATION,New South Wales,South Eastern Highlands,NaN,forest,non-forest,not protected,Not listed,Invasive,https://biodiversity.org.au/afd/taxa/7de6b16a-...,Felis catus,1
5093,1900,HUMAN_OBSERVATION,South Australia,Eyre Yorke Block,NaN,non-forest,non-forest,PA,Not listed,Invasive,https://biodiversity.org.au/afd/taxa/7de6b16a-...,Felis catus,3
5592,1900,HUMAN_OBSERVATION,South Australia,Kanmantoo,NaN,non-forest,non-forest,PA,Not listed,Invasive,https://biodiversity.org.au/afd/taxa/7de6b16a-...,Felis catus,1
33768,1903,HUMAN_OBSERVATION,Queensland,Brigalow Belt South,NaN,non-forest,non-forest,not protected,Not listed,Invasive,https://biodiversity.org.au/afd/taxa/7de6b16a-...,Felis catus,1
114291,1911,HUMAN_OBSERVATION,New South Wales,NSW North Coast,NaN,non-forest,non-forest,PA,Not listed,Invasive,https://biodiversity.org.au/afd/taxa/7de6b16a-...,Felis catus,2

In [40]:
cat_df = cat_df.drop(columns = ['griisStatus', 'epbcStatus', 'speciesID', 'basisOfRecord', 'imcraRegion'])

In [41]:
cat_df = cat_df[rt_df['year'] > 1959]

C:\Users\benedek\AppData\Local\Temp\ipykernel_5436\355998430.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cat_df = cat_df[rt_df['year'] > 1959]

## Cleaning dataset

In [42]:
cat_df

,year,stateTerritory,ibraRegion,forest2018Status,forest2013Status,capadStatus,speciesName,occurrenceCount
827338,1960,New South Wales,South East Corner,forest,forest,not protected,Felis catus,3
827397,1960,New South Wales,South Eastern Highlands,forest,non-forest,not protected,Felis catus,1
827587,1960,New South Wales,South Eastern Queensland,forest,forest,not protected,Felis catus,1
838813,1960,Australian Capital Territory,South Eastern Highlands,non-forest,non-forest,not protected,Felis catus,1
885133,1961,Northern Territory,Daly Basin,forest,non-forest,not protected,Felis catus,1
...,...,...,...,...,...,...,...,...
11617331,2022,NaN,NaN,non-forest,non-forest,not protected,Felis catus,2
11617334,2022,NaN,NaN,non-forest,non-forest,PA,Felis catus,4
11617335,2022,NaN,NaN,non-forest,non-forest,not protected,Felis catus,2
11617336,2022,NaN,NaN,non-forest,non-forest,PA,Felis catus,5
11617339,2022,NaN,NaN,non-forest,non-forest,not protected,Felis catus,2

In [43]:
cat_df.head()

,year,stateTerritory,ibraRegion,forest2018Status,forest2013Status,capadStatus,speciesName,occurrenceCount
827338,1960,New South Wales,South East Corner,forest,forest,not protected,Felis catus,3
827397,1960,New South Wales,South Eastern Highlands,forest,non-forest,not protected,Felis catus,1
827587,1960,New South Wales,South Eastern Queensland,forest,forest,not protected,Felis catus,1
838813,1960,Australian Capital Territory,South Eastern Highlands,non-forest,non-forest,not protected,Felis catus,1
885133,1961,Northern Territory,Daly Basin,forest,non-forest,not protected,Felis catus,1

In [44]:
cat_df.dtypes

year                 int64
stateTerritory      object
ibraRegion          object
forest2018Status    object
forest2013Status    object
capadStatus         object
speciesName         object
occurrenceCount      int64
dtype: object

In [45]:
#to drop: griisStatuts, epbcStatus, speciesID, basisOfRecord, imcraRegion 'Unnamed: 0',

In [46]:
cat_df

,year,stateTerritory,ibraRegion,forest2018Status,forest2013Status,capadStatus,speciesName,occurrenceCount
827338,1960,New South Wales,South East Corner,forest,forest,not protected,Felis catus,3
827397,1960,New South Wales,South Eastern Highlands,forest,non-forest,not protected,Felis catus,1
827587,1960,New South Wales,South Eastern Queensland,forest,forest,not protected,Felis catus,1
838813,1960,Australian Capital Territory,South Eastern Highlands,non-forest,non-forest,not protected,Felis catus,1
885133,1961,Northern Territory,Daly Basin,forest,non-forest,not protected,Felis catus,1
...,...,...,...,...,...,...,...,...
11617331,2022,NaN,NaN,non-forest,non-forest,not protected,Felis catus,2
11617334,2022,NaN,NaN,non-forest,non-forest,PA,Felis catus,4
11617335,2022,NaN,NaN,non-forest,non-forest,not protected,Felis catus,2
11617336,2022,NaN,NaN,non-forest,non-forest,PA,Felis catus,5
11617339,2022,NaN,NaN,non-forest,non-forest,not protected,Felis catus,2

In [47]:
cat_df.isna().sum()
cat_df = cat_df.dropna()

In [48]:
cat_df

,year,stateTerritory,ibraRegion,forest2018Status,forest2013Status,capadStatus,speciesName,occurrenceCount
827338,1960,New South Wales,South East Corner,forest,forest,not protected,Felis catus,3
827397,1960,New South Wales,South Eastern Highlands,forest,non-forest,not protected,Felis catus,1
827587,1960,New South Wales,South Eastern Queensland,forest,forest,not protected,Felis catus,1
838813,1960,Australian Capital Territory,South Eastern Highlands,non-forest,non-forest,not protected,Felis catus,1
885133,1961,Northern Territory,Daly Basin,forest,non-forest,not protected,Felis catus,1
...,...,...,...,...,...,...,...,...
11617293,2022,Western Australia,Swan Coastal Plain,non-forest,non-forest,PA,Felis catus,1
11617298,2022,Western Australia,Swan Coastal Plain,non-forest,non-forest,not protected,Felis catus,5
11617302,2022,Western Australia,Warren,forest,forest,PA,Felis catus,1
11617306,2022,Western Australia,Warren,non-forest,non-forest,PA,Felis catus,1
11617308,2022,Western Australia,Yalgoo,non-forest,non-forest,not protected,Felis catus,2

In [49]:
cat_df.isna().sum()

year                0
stateTerritory      0
ibraRegion          0
forest2018Status    0
forest2013Status    0
capadStatus         0
speciesName         0
occurrenceCount     0
dtype: int64

In [51]:
cat_df.to_csv("Cat_only_rt.csv", index=False)

## Something else