## Cleaning dataset

In [ ]:
import pandas as pd
rt_df = pd.read_csv('../datasets/Cat_only_rt.csv')

In [28]:
rt_df.head()

,Unnamed: 0,year,basisOfRecord,stateTerritory,ibraRegion,imcraRegion,forest2018Status,forest2013Status,capadStatus,epbcStatus,griisStatus,speciesID,speciesName,occurrenceCount
0,2902,1900,HUMAN_OBSERVATION,New South Wales,South Eastern Highlands,NaN,forest,non-forest,not protected,Not listed,Invasive,https://biodiversity.org.au/afd/taxa/7de6b16a-...,Felis catus,1
1,5093,1900,HUMAN_OBSERVATION,South Australia,Eyre Yorke Block,NaN,non-forest,non-forest,PA,Not listed,Invasive,https://biodiversity.org.au/afd/taxa/7de6b16a-...,Felis catus,3
2,5592,1900,HUMAN_OBSERVATION,South Australia,Kanmantoo,NaN,non-forest,non-forest,PA,Not listed,Invasive,https://biodiversity.org.au/afd/taxa/7de6b16a-...,Felis catus,1
3,33768,1903,HUMAN_OBSERVATION,Queensland,Brigalow Belt South,NaN,non-forest,non-forest,not protected,Not listed,Invasive,https://biodiversity.org.au/afd/taxa/7de6b16a-...,Felis catus,1
4,114291,1911,HUMAN_OBSERVATION,New South Wales,NSW North Coast,NaN,non-forest,non-forest,PA,Not listed,Invasive,https://biodiversity.org.au/afd/taxa/7de6b16a-...,Felis catus,2

In [29]:
rt_df.dtypes

Unnamed: 0           int64
year                 int64
basisOfRecord       object
stateTerritory      object
ibraRegion          object
imcraRegion         object
forest2018Status    object
forest2013Status    object
capadStatus         object
epbcStatus          object
griisStatus         object
speciesID           object
speciesName         object
occurrenceCount      int64
dtype: object

In [30]:
#to drop: griisStatuts, epbcStatus, speciesID, basisOfRecord, imcraRegion

In [31]:
rt_df = rt_df.drop(columns = ['griisStatus', 'epbcStatus', 'speciesID', 'basisOfRecord', 'imcraRegion'])

In [32]:
rt_df = rt_df[rt_df['year'] > 1959]

In [33]:
rt_df

,Unnamed: 0,year,stateTerritory,ibraRegion,forest2018Status,forest2013Status,capadStatus,speciesName,occurrenceCount
26,827338,1960,New South Wales,South East Corner,forest,forest,not protected,Felis catus,3
27,827397,1960,New South Wales,South Eastern Highlands,forest,non-forest,not protected,Felis catus,1
28,827587,1960,New South Wales,South Eastern Queensland,forest,forest,not protected,Felis catus,1
29,838813,1960,Australian Capital Territory,South Eastern Highlands,non-forest,non-forest,not protected,Felis catus,1
30,885133,1961,Northern Territory,Daly Basin,forest,non-forest,not protected,Felis catus,1
...,...,...,...,...,...,...,...,...,...
5092,11617331,2022,NaN,NaN,non-forest,non-forest,not protected,Felis catus,2
5093,11617334,2022,NaN,NaN,non-forest,non-forest,PA,Felis catus,4
5094,11617335,2022,NaN,NaN,non-forest,non-forest,not protected,Felis catus,2
5095,11617336,2022,NaN,NaN,non-forest,non-forest,PA,Felis catus,5
5096,11617339,2022,NaN,NaN,non-forest,non-forest,not protected,Felis catus,2

## Something else